{% extends 'base_registration.html' %}


{% block content %}
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Changement de mot de passe</div>
      <div class="card-body">
      {% if validlink %}
		{% include 'form_template.html' with form=form %}
      {% else %}
          <p>
              Le lien de réinitilisation n'est pas valide.
              <br>
              Veuillez réinitiliaser votre mot de passe à nouveau.
          </p>
      {% endif %}
      </div>
      </div>
    </div>
{% endblock %}
